/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	color: #d3d3d3;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	}

div {
	border: 0 solid black;
	padding: 1px;

}
* {
	text-decoration: none;	
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
.container {
	max-width: 90%;
	margin: 0 auto;
	width: 1024px;

}

.column {
	float: left;
	margin-right: 2%;
	background-color: #f0efef;
	padding: 20px;

}

.column:last-child {
	margin-right: 0;
}

.two-columns.has-sidebar .column:first-child {
	width: 61%;
}

.two-columns.has-sidebar .column:last-child {
	width: 36%;
}



/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.intro {
	background: url("../images/header_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	height: 500px;
	margin: 0 auto;
	width: 1024px;
	max-width: 90%;
}

.benefits {
	background-color: #f0efef;
	padding: 30px;
	margin: 0 auto;
	width: 1024px;
	max-width: 90%;

}
.testimonial {
	background: url("../images/testimonial_bg.jpg") no-repeat center top rgb(134,141,157);
	background-size: cover;
	padding: 90px;
	width: 1024px;
	margin: 0 auto;
	max-width: 90%;
}

.signup {
	background-color: #f9e42e;
	padding: 10px;
	margin: 0 auto;
	width: 1024px;
	max-width: 90%;

}

section h1 {
	color: #ffffff;
	font-weight: extra bold
}
#cta_yellow {
	border: none;
	border-radius: 5px;
	font-weight: 800;
	background-color: #f9e52e;
	text-align: center;
	padding: 7px 50px;
	display: block;
  	margin: 0 auto;
  	width: 280px;
}

#cta_blue {
	border: none;
	border-radius: 5px;
	font-weight: 800;
	background-color: #033048;
	text-align: center;
	padding: 7px 50px;
	display: block;
  	margin: 0 auto;
	color: white;
	width: 280px;
}


h3 {
	margin-left: 50px;
	font-weight: 600;
	color: #606161;
}
ul #benefits {
	font-weight: 300;
	color: #606161;
	margin: 20px 5%;
	line-height: 30px;
}

#benefits {
 	font-weight:300;
 	color: #606161;
 	}

#testimonial {

	font-weight: 300;
 	font-style: italic;
 	color: #fff;
  	margin: 60px 30%;
  	text-align: center;
}
.name {
	font-weight: 600;
	font-style: normal;

}
.strapline {
	font-weight: 400;
	color: #fff;
	padding-left: 
}

footer h1 {
	color:#f9e42e;
	margin: 3% 44%;
	font-weight: 600;
}


footer p {
	margin: 0 40%;
	
}

footer {
	height: 200px;
	background-color: #121212;
	margin: 0 auto;
	width: 1024px;
	max-width: 90%;
	text-align: center
}


.blog_page {
	background-color: #033048;
	max-width: 90%;
	margin: 0 auto;
	width: 1024px;
	}

nav {
	float: right;
}

nav li {
	display: inline;
}

main {
	width: 1024px;
	max-width: 90%;
	background-color: #f0efef;
	margin: 0 auto;
	}



img {
	max-width:100%;
}


h4 {
	color: #033048;
	font-size: 26px;
	font-weight: 400;
}

#top_nav a {
	color:  #f9e42e;
	padding: 10px;
}

.post_text{
	color: #033048;
	font-weight: 300;
}


.post_text::first-letter {
  font-weight: bold;
  color: #033048;
  font-size: 40px;
  
}

#blog_title{
	color: #033048;
}

.blog_link{
	color: #f9e52e;
	margin-left: 800px;

}

.blog_cta {
	text-align: right;

}

::first-letter 





